// SCSS Variable's

$color-white: #ffffff;
$color-black: #000000;
$color-gray: #82868b;

$color-bg: #ffffff;
$color-bg--dark: #283046;

$color-bg-soft: #f8f8f8;
$color-bg-soft--dark: #161d31;

$color-page-bg: #f8f8f8;
$color-page-bg--dark: #161d31;

$color-border: #ebe9f1;
$color-border--dark: #3b4253;

$color-primary: #7367f0;
$color-success: #28c76f;
$color-warning: #ff9f43;
$color-danger: #ea5455;
$color-info: #00cfe8;
$color-shadow: #22292f;

$color-text: #6e6b7b;
$color-text--dark: #b4b7bd;

$font-primary: 'Montserrat', sans-serif;